* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    transition: .5s;
    z-index: 2;
}

.loader {
    position: fixed;
    height: 5px;
    background: linear-gradient(to right, #ff0157, #ffc371);
    left: 0;
    top: 4.47rem;
    z-index: 3;
    transition: width 0.5s ease-out;
}

.menu-white {display: none;}

.sticky {
    background: #fff;
    color: #000;
    box-shadow: 0 1px 20px;
}

.sticky h1, .sticky .navigator a  {
    color: #000;
}

span {color: #ff0157;}

header h1 {
    color: #fff;
    margin-left: 7rem;
}

header .navigator {
    margin-right: 1rem;
    margin: 0 7rem;
}

header .navigator a {
    color: #fff;
    text-decoration: none;
    transition: .5s;
    margin: 10px;
}

header .navigator a:hover { color: #ff0157;}

#banner {
    width: 100vw;
    height: 100vh;
    background: url(img/backdrop.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
}

#banner h1 {
    font-size: 5rem;
}

#banner h3 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;
}

.btn {
    text-decoration: none;
    background: #ff0157;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    transition: .2s;
    margin: 1em;
}

.btn:hover {
    letter-spacing: .2em;
}

#people {
    width: 100vw;
    padding: 5em 1em;
    position: relative;
}

#people .content {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 3rem;
}

#people .col50 {
    width: 45%;
    margin: 10px;
}

#people .content .imgBx {
    position: relative;
    width: 45%;
    overflow: hidden;
}

#people img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleText {
    text-align: center;
    margin: 10px;
    font-size: 1.2em;
}

.titleText h2 {
    font-weight: 100;
}

#places {
    width: 100vw;
    padding: 5em 0;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#places .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#places .content .imgBx {
    margin: 2rem;
    width: 25rem;
    height: 15rem;
}

#places .content .imgBx img {
    width: 100%;
    height: 100%;
}

#places .content .imgBx p {
    text-align: center;
    margin: .5em;
}

#consultants {
    width: 100vw;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#consultants .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#consultants .content .imgBx {
    background: #005b71;
    margin: 2rem;
    width: 15rem;
    height: 25rem;
}

#consultants .content .imgBx img {
    width: 100%;
}

#consultants .content .imgBx p {
    text-align: center;
    margin: .5em;
    color: #fff;
    font-weight: bold;
}

#testimonials {
    width: 100vw;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: url(img/backdrop2.jpeg);
    background-size: cover;
}

#testimonials .titleText {color: #fff;}

#testimonials .content {
    width: 80%; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#testimonials .content .box {
    background: #fff;
    width: 20rem;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#testimonials .content .box .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1rem;
    overflow: hidden;
}

#testimonials .content .box p {
    font-style: italic;
    margin: 1rem;
}

#testimonials .content .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact {
    padding: 5em;
    background: url(img/backdrop3.jpg);
    background-size: cover;
    width: 100%;
}

#contact .contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px #111;
    max-width: 400px;
    margin-top: 50px;
}

#contact .contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

#contact .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#contact .contactForm .inputBox input,
#contact .contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

#contact .contactForm input[type="submit"] {
    background: #ff0157;
    color: #fff;
    padding: .5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s;
    text-transform: uppercase;
}

#contact .contactForm input[type="submit"]:active {
    color: #333;
    background: none;
}

.copyRightText {
    text-align: center;
    padding: .3rem;
    width: 100%;
}

.copyRightText a {
    text-decoration: none;
    color: #ff0157;
}

@media screen and (max-width: 768px) {
    p {font-size: 14px;}
    h2 {font-size: 20px;}
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .loader {top: 0;}
    header {
        position: fixed;
        top: 0;
        background: #005b71;
        width: 100%;
        height: 100%;
        clip-path: circle(10px at 100% -2%);
        transition: 1.5s ease-out;
    }
    .open {
        clip-path: circle(81rem at 100% -2%);
    }
    header h1 {display: none;}
    header .navigator {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 50%;
        justify-content: space-around;
        padding: 1rem 0;
        position: fixed;
        margin: 0;
    }
    header .navigator a {
        width: 100vw;
        text-align: center;
        padding: 1em 0;
    }
    header .navigator a:hover {
        background: #888;
    }
    .menu-white {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        position: fixed;
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: #005b71dd;
    }
    .menu-white span {
        position: absolute;
        background: #fff;
        width: 30px;
        height: 4px;
        transition: .5s;
    }
    .menu-white span:nth-child(1) {
        transform: translateY(-12px);
        width: 20px;
        right: 10px;
    }
    .menu-white span:nth-child(2) {
        transform: translateY(12px);
        width: 10px;
        right: 10px;
    }
    .close span:nth-child(1) {
        width: 40px;
        transform: translateX(5px) rotate(-45deg);
        transition-delay: .5s;
        background: red;
    }
    .close span:nth-child(2) {
        width: 40px;
        transform: translateX(5px) rotate(-315deg);
        transition-delay: 1s;
        background: red;
    }
    .close span:nth-child(3) {
        transform: translateX(-60px);
        opacity: 0;
    }
    .sticky {
        background: #005b71;
        box-shadow: 0 1px 20px;
    }
    .sticky h1, .sticky .navigator a  {
        color: #fff;
    }
    #banner {
        height: 100vh;
        padding: 2rem;
    }
    #banner h1{
        font-size: 2rem;
    }
    #banner h3 {font-size: 1.5rem;}
    #banner p {
        margin: 2rem;
        letter-spacing: 1px;
    }
    #banner .btn {
        margin-top: 3rem;
    }
    #people {
        padding: 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }
    #people .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 2rem 0 1rem;
    }
    #people .content .col50 {
        width: 100%;
        text-align: justify;
    }
    #people .content .imgBx {
        width: 100%;
        height: 15rem;
        overflow: hidden;
    }
    #people .content .imgBx img {
        width: 100%;
        object-fit: cover;
    }
    #places {
        overflow: hidden;
        padding: 1rem 0;
    }
    #consultants {
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
    }
    #consultants .content {
        flex-direction: column;
        width: 90%;
        display: flex;
    }
    #consultants .content p {
        position: absolute;
        font-size: 16px;
        background: #005b71;
        padding: .5rem;
        left: 50%;
        bottom: .5rem;
        transform: translate(-50%);
        min-width: 10rem;
    }
    #consultants .content .imgBx {
        position: relative;
        width: 90%;
        height: 30rem;
        margin: .2rem;
        overflow: hidden;
        background: none;
    }
    #consultants .content .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #testimonials {
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        box-sizing: border-box;
    }
    #testimonials .content {
        flex-direction: column;
        width: 90vw;
    }
    #testimonials .content .box {
        margin: 2rem 0;
        padding: 2rem 1rem;
        width: 90%;
    }
    #testimonials .content .box .imgBx {
        transform: scale(150%);
        margin: 2rem;
    }
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
    }
    #contact .contactForm {
        position: relative;
        margin: 1rem .1rem;
        width: 95vw;
    }
    .copyRightText p {font-size: 12px;}
}
